<ActionBar class="action-bar">
    <Label class="action-bar-title" fontSize="32" text="Account"></Label>
    <ActionItem nsRouterLink="/notifications" clearHistory="true" text="invites" android.position="actionBar" ios.position="right"></ActionItem>
</ActionBar>

<GridLayout rows="*, 62.5" class="page">
    <FlexboxLayout class="m-15" row="0" justifyContent="center" alignItems="center" flexDirection="column">
        <Label class="t-30" fontWeight='bold' [text]="first + ' ' + last"></Label>
        <Label [text]='email'></Label>
        <Button class='btn btn-primary w-full' text="Edit Account" (tap)="editTapped()"></Button>
        <Button class='btn btn-primary w-full' style="background-color: tomato" text="Logout" (tap)="logoutTapped()"></Button>
    </FlexboxLayout>

    <!-- Begin Bottom Bar -->
    <StackLayout row="1" orientation="horizontal">
        <Button textWrap="true" width="33%" textAlignment="center" (onTap)="tasksTapped()">
            <FormattedString>
                <Span text="&#xf03a;&#x000a;" fontFamily="FontAwesome" fontSize="28"></Span>
                <Span text="Tasks"></Span>
            </FormattedString>
        </Button>
        <Button textWrap="true" width="33%" textAlignment="center" (onTap)="teamTapped()">
            <FormattedString>
                <Span text="&#xf0c0;&#x000a;" fontFamily="FontAwesome" fontSize="28"></Span>
                <Span text="Teams"></Span>
            </FormattedString>
        </Button>
        <Button class="active-button" textWrap="true" width="33%" textAlignment="center">
            <FormattedString>
                <Span text="&#xf007;&#x000a;" fontFamily="FontAwesome" fontSize="28"></Span>
                <Span text="Account"></Span>
            </FormattedString>
        </Button>
    </StackLayout>
</GridLayout>