<ActionBar class="action-bar">
    <NavigationButton text="Back" android.systemIcon="ic_menu_back" (tap)="backToTasks()"></NavigationButton>
    <ActionItem ios.position="left" icon="~/fonts/left-arrow.png" (tap)="backToTasks()">
    </ActionItem>
    <Label class="action-bar-title" fontSize="30" text="Task Details"></Label>
    <ActionItem [nsRouterLink]="['/task-edit', task.databaseId]" clearHistory="true" ios.position="right" text="Edit">
    </ActionItem>
</ActionBar>
<StackLayout class="container">
    <Label class="t-25 m-y-10 text-center" text="Task Name:" textAlignment="center"></Label>
    <Label class="t-20 m-y-10 text-center" [text]="task.name " textWrap="true"></Label>
    <StackLayout class="hr-light m-5"></StackLayout>
    <Label class="t-25 m-y-10 text-center" text="Description:" textAlignment="center"></Label>
    <Label class="t-20 m-y-10 text-center" [text]="task.description " textWrap="true"></Label>
    <StackLayout class="hr-light m-5"></StackLayout>
    <Label class="t-25 m-y-10 text-center" text="Occurs:" textAlignment="center"></Label>
    <Label class="t-20 m-y-10 text-center" [text]="getFrequency()" textAlignment="center"></Label>

</StackLayout>