<FlexboxLayout flexDirection="row" justifyContent="space-around">

    <StackLayout class="sunday">
        <CheckBox #SUN (checkedChange)="onChecked(1)"></CheckBox>
        <Label text="S"></Label>
    </StackLayout>

    <StackLayout class="monday">
        <CheckBox #MON (checkedChange)="onChecked(2)"></CheckBox>
        <Label text="M"></Label>
    </StackLayout>

    <StackLayout class="tuesday">
        <CheckBox #TUE (checkedChange)="onChecked(3)"></CheckBox>
        <Label text="T"></Label>
    </StackLayout>

    <StackLayout class="wednesday">
        <CheckBox #WED (checkedChange)="onChecked(4)"></CheckBox>
        <Label text="W"></Label>
    </StackLayout>

    <StackLayout class="thursday">
        <CheckBox #THU (checkedChange)="onChecked(5)"></CheckBox>
        <Label text="T"></Label>
    </StackLayout>

    <StackLayout class="friday">
        <CheckBox #FRI (checkedChange)="onChecked(6)"></CheckBox>
        <Label text="F"></Label>
    </StackLayout>

    <StackLayout class="saturday">
        <CheckBox #SAT (checkedChange)="onChecked(7)"></CheckBox>
        <Label text="S"></Label>
    </StackLayout>

</FlexboxLayout>