<ActionBar class="action-bar">
    <Label class="action-bar-title" fontSize="32" text="Metrics"></Label>
</ActionBar>

<GridLayout rows="*, 62.5" class="page">
    <StackLayout>
        <Label text="Metrics Testing page"></Label>
    </StackLayout>
<!-- Begin Graphs -->
  <ListView [items]="TeamCompletionRate$ | async" row="0">
    <ng-template let-item="item">
      <TeamCompletionRate-item class="t-25" [TeamCompletionRate]="item"></TeamCompletionRate-item>
    </ng-template>>
  </ng-template>
  </ListView>
  <!-- End Graphs-->
    <!-- Begin Bottom Bar -->
    <StackLayout row="1" orientation="horizontal">
        <Button textWrap="true" width="33%" textAlignment="center" (onTap)="tasksTapped()">
            <FormattedString>
                <Span text="&#xf03a;&#x000a;" fontFamily="FontAwesome" fontSize="28"></Span>
                <Span text="Tasks"></Span>
            </FormattedString>
        </Button>
        <Button textWrap="true" width="33%" textAlignment="center" (onTap)="teamTapped()">
            <FormattedString>
                <Span text="&#xf0c0;&#x000a;" fontFamily="FontAwesome" fontSize="28"></Span>
                <Span text="Teams"></Span>
            </FormattedString>
        </Button>
        <Button class="active-button" textWrap="true" width="33%" textAlignment="center">
            <FormattedString>
                <Span text="&#xf080;&#x000a;" fontFamily="FontAwesome" fontSize="28"></Span>
                <Span text="Metrics"></Span>
            </FormattedString>
        </Button>
    </StackLayout>
</GridLayout>