<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Metrics"></Label>
</ActionBar>

<GridLayout rows="*, 62.5" class="page">
    <StackLayout>
        <Label text="Coming Soon"></Label>
    </StackLayout>

    <!-- Begin Bottom Bar -->
    <StackLayout row="1" orientation="horizontal">
        <Button textWrap="true" width="33%" textAlignment="center" class="button" (onTap)="tasksTapped()">
            <FormattedString>
                <Span text="&#xf03a;&#x000a;" fontFamily="FontAwesome" fontSize="28"></Span>
                <Span text="Tasks"></Span>
            </FormattedString>
        </Button>
        <Button textWrap="true" width="33%" textAlignment="center" class="button" (onTap)="teamTapped()">
            <FormattedString>
                <Span text="&#xf0c0;&#x000a;" fontFamily="FontAwesome" fontSize="28"></Span>
                <Span text="Teams"></Span>
            </FormattedString>
        </Button>
        <Button textWrap="true" width="33%" textAlignment="center" class="button">
            <FormattedString>
                <Span text="&#xf080;&#x000a;" fontFamily="FontAwesome" fontSize="28"></Span>
                <Span text="Metrics"></Span>
            </FormattedString>
        </Button>
    </StackLayout>
</GridLayout>