<ActionBar title="Log in - form" class="action-bar">
</ActionBar>

<StackLayout class="form">

    <StackLayout class="input-field" [formGroup]="accountFormGroup">
        <TextField class="input" formControlName="email" hint=" email" required></TextField>
        <StackLayout class="hr-light m-10"></StackLayout>

        <TextField class="input" formControlName="firstname" hint=" first name" required></TextField>
        <StackLayout class="hr-light m-10"></StackLayout>

        <TextField class="input" formControlName="lastname" hint=" last name" required></TextField>
        <StackLayout class="hr-light m-10"></StackLayout>

        <TextField class="input" formControlName="password" hint=" password" required></TextField>
        <StackLayout class="hr-light m-10"></StackLayout>

    </StackLayout>
</StackLayout>