<ActionBar title="{{ title }}" class="action-bar">
    <ActionItem (tap)="onSave($event)" ios.position="right" text="Save">
    </ActionItem>
</ActionBar>
<StackLayout class="form">
    <StackLayout class="input-field" [formGroup]="taskFormGroup">
        <TextField class="input" formControlName="description" hint="task description" required></TextField>
        <StackLayout class="hr-light m-10"></StackLayout>
        <TextField class="input" formControlName="note" hint="notes"></TextField>
    </StackLayout>
    <StackLayout class="hr-light m-10"></StackLayout>
</StackLayout>