<ActionBar title="{{ title }}" fontSize="32" class="action-bar-title">
    <ActionItem (tap)="onSave()" ios.position="right" text="Save">
    </ActionItem>
</ActionBar>
<FlexBoxLayout class="page">
    <StackLayout class="form ">
        <SegmentedBar class="duration-segment" [items]="durationBarItems" [selectedIndex]="durationBarIndex" (selectedIndexChanged)="onDurationSelected($event)"></SegmentedBar>

        <StackLayout class="input-field" [formGroup]="taskFormGroup">
            <TextField class="input" formControlName="description" hint=" Description" required></TextField>
            <StackLayout class="hr-light m-10"></StackLayout>

            <TextView class="input" formControlName="note" hint="Notes" height="80" borderWidth="1" borderColor="#dedede"></TextView>
            <StackLayout class="hr-light m-10"></StackLayout>
        </StackLayout>

        <Button class="btn btn-primary btn-ruby btn-rounded-sm" text="delete" [visibility]="deleteButtonVisible" (tap)="onDelete()"></Button>
    </StackLayout>
</FlexBoxLayout>