<ActionBar class="action-bar">
    <Label class="action-bar-title" fontSize="32" [text]="title"></Label>
    <ActionItem (tap)="onSave()" ios.position="right" text="Save">
    </ActionItem>
</ActionBar>
<FlexBoxLayout class="page">
    <StackLayout class="form ">
        <SegmentedBar class="duration-segment" [items]="durationBarItems" [selectedIndex]="durationBarIndex" (selectedIndexChanged)="onDurationSelected($event)"></SegmentedBar>

        <StackLayout class="input-field" [formGroup]="taskFormGroup">
            <TextField class="input" formControlName="name" hint=" Name" required></TextField>
            <StackLayout class="hr-light m-10"></StackLayout>

            <TextView class="input" formControlName="description" hint="Description" height="80" borderWidth="1" borderColor="#dedede"></TextView>
            <StackLayout class="hr-light m-10"></StackLayout>
        </StackLayout>
        <day-boxes *ngIf="dayBoxesVisible" [weekdays]="weekdays" (selection)="daySelected($event)"></day-boxes>
        <ListPicker *ngIf="loggedIn" [items]="listPickerText | async" [selectedIndex]="pickerIndex" (selectedIndexChange)="selectedIndexChanged($event)"></ListPicker>
        <Button class="btn btn-outline w-full" borderColor="red" color="red" text="delete" [visibility]="deleteButtonVisible" (tap)="onDelete()"></Button>
    </StackLayout>
</FlexBoxLayout>