<ActionBar class="action-bar">
        <NavigationButton android.systemIcon="ic_menu_back" (tap)="backToTeams()"></NavigationButton>
        <ActionItem ios.position="left" android:visibility="collapse" (tap)="backToTasks()">
                <Label text="&#xf060;" fontFamily="FontAwesome" fontSize="16"></Label>          
        </ActionItem>      
        <Label class="action-bar-title" fontSize="32" text="Create Team"></Label>
        <ActionItem (tap)="onSave()" ios.position="right" text="Save">
        </ActionItem>
</ActionBar>

<StackLayout class="form">
        <StackLayout class="input-field" [formGroup]="teamFormGroup">
                <TextField class="input" formControlName="teamName" hint="Team name" required></TextField>
                <StackLayout class="hr-light m-10"></StackLayout>

                <TextField class="input" formControlName="teamDesc" hint="Team description" required></TextField>
                <StackLayout class="hr-light m-10"></StackLayout>
        </StackLayout>
</StackLayout>