<ActionBar class="action-bar">
    <Label class="action-bar-title" text=""></Label>
    <ActionItem ios.position="right" text="Edit" android.position="actionBar"></ActionItem>
    <ActionItem ios.position="left" text="Add" android.position="actionBar"></ActionItem>
</ActionBar>

<Gridlayout class='page' rows="auto, auto, *">
    <Label class="t-30 text-center" [text]="teamName" row='0' textWrap="true"></Label>
    <Label class="t-15 text-center" [text]="teamDescription" row='1' textWrap="true"></Label>
    <ListView row='2' [items]="members">
        <ng-template let-member="item"  let-i="index">
            <GridLayout class="list-group-item">     
            <label class="t-30 m-b-2 m-l-12" height="10%" [text]="member.firstname"></label>   
            </GridLayout>    
        </ng-template>
    </ListView>
</Gridlayout>